.projects{
    padding:50px 0;

   
}
.project-items{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-top:20px 0;
}
.card{
    width:600px; 
    height:270px;
    margin:20px;
    text-align:left;
    padding:15px;
    background: rgb(17, 4, 134);
    border-radius: 15px;
    box-shadow: rgb(0,0,0,0.7) 5px 10px 50px ,rgb(0,0,0,0.7) -5px 0px 250px;
    color: white;
    position: relative;
    background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.card:hover {
    box-shadow: rgb(0,0,0) 5px 10px 50px ,rgb(0,0,0) -5px 0px 250px;
  }
.card h2,p{
    padding:10px;
}
.card h2{
    color:white;
    margin-top: 0px;
    margin-left: 15px;
    font-weight: 600;
}
.card p{
    font-weight:300;
    opacity: .8;
    letter-spacing:1.5px;
    margin-left: 15px;
}
.card img{
  width:40px;
  height:40px;
  margin-left:15px;
}
.icon_link{
    display:flex;
    flex-direction:row;
    width:80%;
    justify-content:space-between;
    margin:5px;
    margin-left:20px;
    /* padding:20px; */
}
.projects-icons{
    /* margin:10px;
    padding:5px;
    position:absolute;
    bottom:10px;
    */
}
.projects_links{
    /* margin:10px;
    padding:5px;
    position:absolute;
    bottom:10px; */
    
}
.projects-icons img,.projects_links{
    margin:2px;
}
@media only screen and (max-width: 1170px){
    /* .projects-icons{
        margin:0;
        margin-top:25px;
        margin-left:10px;
    } */
    .projects{
        padding-top:0;  
    }
    .project-items{
        margin-top:20px;
        max-width:400px;
    }
}

